# Bluetooth Host (HOGP) to connect to Xbox controller
CONFIG_BT=y
CONFIG_BT_HOG_HOST=y
CONFIG_BT_GATT_AUTO_DISCOVERY=y

# USB Device as HID
CONFIG_USB=y
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_HID=y
CONFIG_USB_DEVICE_PRODUCT="Xbox2PS HID Bridge"
CONFIG_USB_DEVICE_MANUFACTURER="Bassel-Abraam"

# Logging
CONFIG_LOG=y
CONFIG_LOG_DEFAULT_LEVEL=3
